/*
Lab 1
Group Members:
- Yashvi Patel: 100900705
- Justin Wastle: 100869386
- Andrew Mekhail: 100828858
Date: February 1st, 2024 
*/

body{
    background-color:#CACFD6;
}
.about-us {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
}

.details {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 10px;
}

.details img {
    width: 200px;
    height: 500px;
  
}


.card {
    border: #000;
    border-style: solid;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    margin: 8px;
}

.container {
    padding: 0 16px;
    margin-top: 5px;
    text-align: center;
}
.container p{
    width: 200px;
    padding-left: 500px;
    font-size: larger;
}

body{
    background-image: url("/Lab1/images/img4.jpg");
}

div.servicesPage{
    background-color:#CACFD6;
}

div.products{
    display: flex;
    padding: 50px  80px  50px 70px;
}
.products img{
    margin: 10px;
    width: 700px; 
    border-radius: 10px;
     
}
.products p{
    width: 500px;
    font-size: x-large;
    line-height: 2;
    
}

div.contact{
    padding-left: 550px;
}
